body {
  background-color: #333;
  max-width: 1200px;
  margin: 100px auto;
}

h1 {
  font-family: monospace, sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

span {
  color: rgb(255, 200, 0);
}
